.booking-container {
    padding: 1rem;
}

.booking-container img {
    width: 100px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

.restaurants, .hotels {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.restaurants-list, .hotels-list {
    width : 100%;
}

.restaurant-displayed, .hotel-displayed {
    display :flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin: 12px;
}


#restaurant-name-location-rating, #hotel-name-location-rating {
    display: flex;
    flex-direction: column;
}

#restaurant-rating-total-ratings, #hotel-rating-total-ratings {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.restaurants.hidden, .hotels.hidden {
    display: none;
}   

#restaurants-hotels-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
}

.restaurant-displayed.website-included, .hotel-displayed.website-included{
    cursor: pointer;
}

.restaurant-displayed.website-included:hover, .hotel-displayed.website-included:hover {
    border-radius: 15px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    background-color: #f5f5f5;
    
}

