@use "./src/styles/typography" as *;
@use "./src/styles/colors" as *;


#weather{
    background-color: #0d9488;
    .titleSectionWeather{
        color: #e5e7eb;

        h2{
            @include title("md");
            text-align: center;
            
        }
        h3{
            @include title("sm");
            text-align: center;
        }
    }
    .weatherNowCity{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0.5rem;
        border: 1px solid #e5e7eb;
        padding: 0.5rem;
        border-radius: 0.5rem;
        background-color: #f0fdfa;;

        h4{
            @include text("lg");
            
        }

        img{
            height: 80px;
            width: 80px;
        }
        .mainDataWeatherCity{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 100%;

            .tempRainWindNow{
                display: flex;
                flex-direction: column;
                p{
                    line-height: 35px;
                }

        
            }
            .sunriseSunsetDay{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .logoTextsunrise{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .bi-sunrise{
                        font-size:xxx-large;
                    }
                }
                .logoTextsunset{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .bi-sunset{
                        font-size:xxx-large;
                    }
                }
                
    
            }
        }
    }

    .weatherAllDaysCity{
        display: flex;
        flex-direction: wrap;
        justify-content: space-around;
        margin: 0.5rem;
        border: 1px solid #e5e7eb;
        padding: 0.5rem;
        border-radius: 0.5rem;
        background-color: #f0fdfa;;

        .weatherDayCity{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .iconThermoAndText{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                p{
                    padding-left: 5px;
                }
            }
            .iconRainAndText{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                p{
                    padding-left: 10px;
                }
            }
        }
    }
    .weatherAllNextDays{
        border: 1px solid #e5e7eb;
        padding: 0.5rem;
        border-radius: 0.5rem;
        margin: 0.5rem;
        background-color: #f0fdfa;;
        h4{
            @include text("lg");
            text-align: center;
        }

        .weatherNextDay{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            border-bottom: 0.1rem solid #e5e7eb;
            p{
                @include text("xs");
            }
            h4{
                @include text("sm");
            }
            .temperatureMinMax{
                display: flex;
                flex-direction: column; 
                align-items: center;
                .temMintempMax{
                    display: flex;
                    justify-content: center;
                }
            }
            .iconRainAndText{
                display: flex;
                flex-direction: column; 
                align-items: center;
            }
            .logoAndTextWind{
                display: flex;
                flex-direction: column; 
                align-items: center;
            }

          
        }
        
    }
}
