
// BASE

$color-white: #fff;


// GREY
$color-grey-50: #f9fafb;
$color-grey-100: #f3f4f6;
$color-grey-200: #e5e7eb;
$color-grey-300: #d1d5db;
$color-grey-400: #9ca3af;
$color-grey-500: #6b7280;
$color-grey-600: #4b5563;
$color-grey-700: #374151;
$color-grey-800: #1f2937;
$color-grey-900: #111827;
$color-grey-950: #030712;


// PRIMARY
$color-primary-50: #f0fdfa;
$color-primary-100: #ccfbf1;
$color-primary-200: #99f6e4;
$color-primary-300: #5eead4;
$color-primary-400: #2dd4bf;
$color-primary-500: #14b8a6;
$color-primary-600: #0d9488;
$color-primary-700: #0f766e;
$color-primary-800: #115e59;
$color-primary-900: #134e4a;
$color-primary-950: #042f2e;



// ERROR - RED
$color-error-50: #fef2f2;
$color-error-100: #fee2e2;
$color-error-200: #fecaca;
$color-error-300: #fca5a5;
$color-error-400: #f87171;
$color-error-500: #ef4444;
$color-error-600: #dc2626;
$color-error-700: #b91c1c;
$color-error-800: #991b1b;
$color-error-900: #7f1d1d;
$color-error-950: #450a0a;


// SUCCESS - GREEN
$color-success-50: #f0fdf4;
$color-success-100: #dcfce7;
$color-success-200: #bbf7d0;
$color-success-300: #86efac;
$color-success-400: #4ade80;
$color-success-500: #22c55e;
$color-success-600: #16a34a;
$color-success-700: #15803d;
$color-success-800: #166534;
$color-success-900: #14532d;
$color-success-950: #052e16;


// WARNING - YELLOW
$color-warning-50: #fffbeb;
$color-warning-100: #fef3c7;
$color-warning-200: #fde68a;
$color-warning-300: #fcd34d;
$color-warning-400: #fbbf24;
$color-warning-500: #f59e0b;
$color-warning-600: #d97706;
$color-warning-700: #b45309;
$color-warning-800: #92400e;
$color-warning-900: #78350f;
$color-warning-950: #451a03;