@use "../../styles/colors" as *;
@use "../../styles/typography" as *;
@use "../../styles/shadows" as *;

#home {
    height: 100vh;
    overflow: hidden;
    .container {
        height: 100%;
        // background-color: $color-primary-500;
        background-image: url("https://images.unsplash.com/photo-1616234643798-12dc87da67b4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3571&q=80");
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        .content {
            max-width: 800px;
            padding: 1.5rem;
            background-color: $color-white;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            border-radius: 0 0 1rem 1rem;
            @include shadow("2xl");

            h1 {
                @include title("xs", $weight: 500);
                color: $color-grey-800;
            }
            h2 {
                @include text("lg");
                color: $color-grey-500;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    #home {
        padding: 2rem;
        .container {
            border-radius: 2rem;
            padding: 2rem;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            .content {
                border-radius: 1rem;
                h1 {
                    @include title("sm", $weight: 500);
                    max-width: 70%;
                }
            }
        }
    }
}
