@use "../../styles/colors" as *;
@use "../../styles/typography" as *;
@use "../../styles/shadows" as *;
@use "../../styles/buttons" as *;

.logo-container {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: $color-grey-50;
    border-radius: 1rem;
    border: 1px solid $color-grey-200;
    .logo {
        width: 100px;
        height: 100px;
        position: relative;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
            top: 0;
            left: 0;
            position: absolute;
        }
    }
    p {
        color: $color-primary-900;
        @include text("xl", $weight: 400);
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        padding: 0;
        margin: 0;
    }
}
nav.nav-bar {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5000;
    background-color: $color-white;
    padding: 1rem;

    .nav-container {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 0 1rem;
        @media screen and (min-width: 576px) {
            max-width: 540px;
        }
        @media screen and (min-width: 768px) {
            padding: 0 2rem;
            max-width: 720px;
            flex-direction: row;

            .logo-container {
                flex-direction: row;
                border: none;
                background-color: transparent;
                gap: 1rem;
                .logo {
                    width: 3.5rem;
                    height: 3.5rem;
                    img {
                        object-position: left;
                    }
                }
            }
        }

        @media screen and (min-width: 992px) {
            max-width: 960px;
        }
        @media screen and (min-width: 1200px) {
            max-width: 1140px;
        }
        @media screen and (min-width: 1400px) {
            max-width: 1320px;
        }
    }
}

@media screen and (min-width: 768px) {
    nav.nav-bar {
        @include shadow("xs");
        border-bottom: 1px solid $color-grey-200;
        position: fixed;
        padding: 0.5rem;
    }

    .logo-container {
        flex-direction: row;
        border: none;
        background-color: transparent;
        gap: 1rem;
        .logo {
            width: 3.5rem;
            height: 3.5rem;
            img {
                object-position: left;
            }
        }
    }
}
