@use "../../styles/colors" as *;
@use "../../styles/typography" as *;
@use "../../styles/shadows" as *;
@use "../../styles/buttons" as *;

nav.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5000;
    background-color: $color-white;
    padding: 0.5rem;
    border-bottom: 1px solid $color-grey-200;
    display: flex;
    justify-content: center;
    @include shadow("xs");
}
