@use "../../styles/colors" as *;
@use "../../styles/typography" as *;
@use "../../styles/shadows" as *;
@use "../../styles/buttons" as *;

.search-inputs {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    gap: 1rem;
    align-items: stretch;
    @include shadow("md");
    border-radius: 0.5rem;
    border: 1px solid $color-grey-200;
    a {
        @include button("lg", $color: "primary", $style: "solid");
    }
}

@media screen and (min-width: 768px) {
    .search-inputs {
        flex-direction: row;
    }
}
